{
  "extends": [
    "eslint:recommended",
    "plugin:@typescript-eslint/recommended",
    "plugin:react-hooks/recommended"
  ],
  "parser": "@typescript-eslint/parser",
  "plugins": ["@typescript-eslint"],
  "rules": {
    "react-refresh/only-export-components": "off"
  },
  "overrides": [
    {
      "files": ["modules_new/**/ui/**/*.{ts,tsx}"],
      "rules": {
        "no-restricted-imports": [
          "error",
          {
            "patterns": [
              "../logic/*",
              "../data/*",
              "../../*/logic/*",
              "../../*/data/*"
            ]
          }
        ]
      }
    },
    {
      "files": ["modules_new/**/logic/**/*.{ts,tsx}"],
      "rules": {
        "no-restricted-imports": [
          "error",
          {
            "patterns": [
              "../data/*",
              "firebase",
              "firebase/*",
              "shared/backend/firebase",
              "../../shared/backend/firebase",
              "../../../shared/backend/firebase"
            ]
          }
        ]
      }
    },
    {
      "files": ["**/*.{ts,tsx}"],
      "rules": {
        "no-restricted-imports": [
          "error",
          {
            "patterns": [
              "modules_new/*/logic/*",
              "modules_new/*/data/*",
              "modules_new/*/ui/*",
              "modules_new/*/internal/*"
            ]
          }
        ]
      }
    }
  ]
}